@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
  --bg-dark: #0e1014;
  --main-font: 'Inter', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: 400;
  color: #E4E5EA;
  font-size: 1rem;
}
